.drums {
  flex-direction: row;
  padding-left: 30px;
  column-gap: 40px;
}

.drums,
.keys {
  padding-left: 1vw;
  z-index: 1;
}

@media screen and (min-width: 1024px) {
  .drums {
    justify-content: center;
  }
}
