.users,
.soundclips,
.drum_selector {
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: height 0.35s ease;
  z-index: 10;
  gap: 0;
}

.container > div:nth-child(1) {
  flex-basis: 90%;
}

.container > div:nth-child(2) {
  flex-basis: 10%;
}
