.user .instrument_icon {
  order: 1;
  flex-grow: 0;
}

.user .id {
  flex-grow: 2;
  order: 2;
  text-align: left;
  margin: auto 0;
}

.user .slider {
  position: relative;
  margin: auto;
  flex-grow: 1;
  order: 3;
}

.add_user .icon,
.add_user span {
  margin: auto;
}

.add_user span {
  height: 41px;
  display: flex;
  align-items: center;
}
