.button {
  position: relative;
  width: 60px;
  height: 60px;
}

.button:active {
  transform: scale(0.9);
}

/* .button > .Image > image [ span > img]  */
.button > div {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 80%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

/* users icon */
.button .users_icon {
  position: absolute;
  width: 50%;
  height: 50%;
  left: -26%;
}

.button .users_icon > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.button .users_icon .right {
  left: 70%;
  top: 3%;
  width: 90%;
  height: 90%;
}

/* cog icon */
.cog_icon > div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.cog_icon .inner {
  width: 50%;
  height: 50%;
  z-index: 3;
}

.button.back {
  width: 100%;
  height: 100%;
}

.button.back:active {
  transform: scale(1, 0.9);
}

.button.back div {
  height: 80%;
}

.button .soundclips {
  width: 65%;
  height: 65%;
  left: -10%;
}

.button.start {
  display: block;
  width: auto;
  height: 100px;
  margin: auto;
  padding: 0px 15px;
}

.button.start * > span {
  display: none;
}

@media screen and (max-width: 1023px) {
  .button.start .mobile_screen {
    display: inline;
  }
}

@media screen and (min-width: 1024px) {
  .button.start .desktop_screen {
    display: inline;
  }
}

.button .mold {
  width: 100%;
  height: 100%;
}
