.button{
  position:relative;
  width: 75px;
  height: 75px;
}

/* .button > .Image > image [ span > img]  */
.button > div, .icon > div{
  position:absolute;
  z-index: 2;
  width: 55%;
  height: 55%;
  top: 22%;
  left: 20%;
}

.button > div span, .icon > div span{
  position:absolute;
}

.button .mold{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button .plain{
  
}

.button .users_icon{
  position:absolute;
  top: 32%;
  left: 17%;
  width: 40%;
  height: 40%;
}

.button .users_icon > div{
  position:absolute;
  width: 100%;
  height: 100%;
}

.button .users_icon .left{
  top:0;
  left:0;
}
.button .users_icon .right{
  left:65%;
}

.button.back{
  width: 100%;
  height: 100%;
}


/* cog icon */
.button .cog_icon{
  position:absolute;
  left:16%;
  top:19%;
}

.button .cog_icon > div{
  position:absolute;
  width: 80%;
  height:80%;
}

.button .cog_icon .inner{
  width: 40%;
  height:40%;
  left:20%;
  top:20%;
  z-index:3;  
}

/*
.button .drum_selector {
  width: 80%;
  height: 80%;
}

.button .drum_selector.inner {
  z-index: 3;
  width: 40%;
  height: 40%;
}

.button .keys {
  width: 75%;
  height: 75%;
}

.button .drums {
  width: 85%;
  height: 85%;
  left: -150%;
}

.button .soundclips {
  width: 70%;
  height: 70%;
  right: 5px;
}

.button .play {
  width: 60%;
  height: 60%;
  left: 2px;
}
.button .stop {
  width: 60%;
  height: 60%;
}

.button .select {
  visibility: hidden;
}

.button.back{
  height: 77px;
  width: 800px;
} */