.drumpad_container {
  border: solid red 2px;
  width: 715px;
  height: 379px;
  position: relative;
  float: right;
  margin: 5px;
}

.drum_container {
  position: absolute;
}

.drum_container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.drum_outer {
  z-index: 1;
}

.drum_inner {
  z-index: 2;
}

.kick {
  width: 230px;
  height: 230px;
  left: 40%;
  bottom: 0;
}
.tom {
  width: 180px;
  height: 180px;
  left: 0;
  bottom: 0;
}
.snare {
  width: 135px;
  height: 135px;
  right: 0;
  top: 0;
}
.hi_hat {
  width: 115px;
  height: 115px;
  left: 15%;
  top: 0;
}
.closed_hat {
  width: 115px;
  height: 115px;
  right: 0;
  bottom: 15%;
}
