.drumkit_viewbox {
  --pad-size: 30vw;
  width: 100vw !important;
  height: 100%;
  position: relative;
  overflow-x: hidden;
  padding: 10px 0;
}

.drumkit_container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pad_container {
  flex: 1 0 30%;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: center center;
  background-color: var(--amber);
  margin: 5px;
}

.pad_container:active,
.tap {
  transform: scale(0.9);
  background-color: var(--alt-color-2);
}

.pad_container .config {
  margin: auto;
  text-align: center;
  width: 35%;
  height: 35%;
}

.config_drum {
  width: 35%;
  height: 35%;
}

.config_drum.inner {
  z-index: 3;
  width: 20%;
  height: 20%;
}

.pad_container.edit_mode {
  background-color: var(--alt-color) !important;
}

@media screen and (min-width: 1024px) {
  .drumkit_container {
    max-width: var(--max-width);
  }
}
