.drumpad_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.drum_container {
  position: absolute;
}

.drum_container img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.kick {
  width: 310px;
  height: 310px;
  left: 32%;
  bottom: 0;
}

.tom {
  width: 210px;
  height: 210px;
  left: 3%;
  bottom: 4%;
}

.snare {
  width: 180px;
  height: 180px;
  right: 3%;
  bottom: 5%;
}

.hi_hat {
  width: 145px;
  height: 145px;
  left: 17%;
  top: 0;
}

.closed_hat {
  width: 140px;
  height: 140px;
  right: 12%;
  top: 2%;
}

.button_container img {
  position: absolute;
  width: 80%;
  height: 80%;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}

.config_drum {
  width: 35%;
  height: 35%;
}

.config_drum.inner {
  z-index: 3;
  width: 20%;
  height: 20%;
}
