.keyboard_container {
  --column-gap: 10px;
  width: 832px;
  height: 270px;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  text-align: center;
  padding: 15px 0px;
  gap: var(--column-gap);
}

/* custom scrollbar */
.keyboard_container::-webkit-scrollbar {
  width: 10px;
  display: none;
}

.keyboard_container::-webkit-scrollbar-track {
  background: var(--background-color);
}

.keyboard_container::-webkit-scrollbar-thumb {
  background: var(--background-color);
  background: rgb(252, 190, 83);
  box-shadow: 1px 0px 1px rgba(205, 222, 242, 0.73),
    -2px 0px 1px rgba(240, 247, 255, 0.12),
    inset -2px 0px 5px rgba(167, 193, 224, 0.52);
  border-radius: 8px;
}

.keyboard_container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.keyboard_template_container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 0;
  column-gap: var(--column-gap);
  margin: auto;
}

.key {
  grid-row: 1/1;
  background-color: var(--background-color);
  border-radius: 20px;
  opacity: 0;
  transform: scale(0.8) translateY(40px);
  transition-duration: 0.2s;
  transition-property: opacity, transform;
  transition-timing-function: ease;
}

.key[data-visible] {
  transform: scale(1);
  opacity: 1;
}

.key[data-visible]:active {
  transform: scale(0.9, 0.98);
}

.key.white {
  width: 97px;
  height: 270px;
  border-radius: 30px;
}

.key.black {
  width: 54px;
  height: 155px;
  left: -30%;
}

.C {
  grid-column-start: 1;
}
.Cs {
  grid-column-start: 2;
}
.D {
  grid-column-start: 2;
}
.Ds {
  grid-column-start: 3;
}
.E {
  grid-column-start: 3;
}
.F {
  grid-column-start: 4;
}
.Fs {
  grid-column-start: 5;
}
.G {
  grid-column-start: 5;
}
.Gs {
  grid-column-start: 6;
}
.A {
  grid-column-start: 6;
}
.As {
  grid-column-start: 7;
}
.B {
  grid-column-start: 7;
}

.key.C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10px !important;
}

.key_text {
  font-size: 20px;
}

.keyboard_container .white.key {
  z-index: 1;
}

.keyboard_container .black.key {
  z-index: 2;
}

.keyboard_container button {
  padding: 0;
  position: relative;
}
