.keyboard_container {
  --column-gap: 10px;
  width: 832px;
  height: 270px;
  height:100%;
  position: relative;
  box-sizing: border-box;
  display:flex;
  flex-wrap: nowrap;
  overflow-x:scroll;
  text-align: center;
  padding:10px 20px;
  padding-bottom: 0;
  gap: var(--column-gap);
}


.keyboard_template_container{
  width: 100%;
  height:100%;
  display:grid;
  justify-content:center;
  grid-template-columns:repeat(7, 1fr);
  grid-template-rows: 0;
  column-gap:var(--column-gap);
  margin: auto;
}

.key{
  grid-row: 1/1;
  background-color:var(--background-color);
  border-radius: 20px;
}

.key.white{
  border-radius:30px;
}

.key.black{
  left:-30%;
}

.C{
  grid-column-start: 1;
}
.Cs{
  grid-column-start: 2;
}
.D{
  grid-column-start:2;
}
.Ds{
  grid-column-start:3;
}
.E{
  grid-column-start:3;
}
.F{
  grid-column-start: 4;
}
.Fs{
  grid-column-start: 5;
}
.G{
  grid-column-start:5;
}
.Gs{
  grid-column-start:6;
}
.A{
  grid-column-start:6;
}
.As{
  grid-column-start:7;
}
.B{
  grid-column-start:7;
}

.key.C{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: flex-end;
  padding-bottom:10px !important;
}

.key_text{
  font-size:20px;
}

.keyboard_container .white.key {
  z-index: 1;
}

.keyboard_container .black.key {
  z-index: 2;
}

.keyboard_container button{
  padding: 0;
  position: relative;
}

.white.key {
  width: 97px;
  height: 270px;
}

.black.key{
  width: 54px;
  height: 155px;
}
