.list_container {
  overflow-y: scroll;
  padding-left: 25px;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  padding: 5px 0;
  padding-right: 20px;
}

.list_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 30px;
}

.item_container span {
  margin: auto 0;
}

.primary{
  color:green;
  order: -1;
}
