.list_container {
  overflow-y: scroll;
  padding: 5px 15px;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8px;
}

.list_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.item_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 15px;
  column-gap: 15px;
  background-color: var(--alt-color);
  border: 2px solid var(--black);
  border-radius: 8px;
}

.item_container .icon {
  position: relative;
  width: 41px;
  height: 41px;
  flex-grow: 0;
}

.primary {
  background-color: var(--amber);
  order: -1;
}
