.keys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.drums {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
