.keys {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  padding-top: 5px;
}

.keys div:nth-child(1) {
  margin-bottom: 10px;
}
.keys div:nth-child(2) {
  margin-left: 70px;
}
.keys div:nth-child(3) {
  margin-left: 20px;
}
.keys div:nth-child(4) {
  margin-left: 80px;
}

.drums {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}

.users,
.drum_selector,
.soundclips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
  padding-left: 45px;
  padding-bottom: 20px;
}

.users *,
.drum_selector *,
.soundclips * {
  margin: auto 0;
}
