:root {
  --background-color: #ebf4ff;
  --width: 896px;
  --height: 414px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
  box-shadow: 0 0 0 1px black; /* 'border-style' not available (dashed, solid, etc) */
  height: var(--height);
  width: var(--width);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.neumorphic_mold_raisedUp {
  background: var(--background-color);
  box-shadow: -8px 0px 8px rgba(199, 220, 245, 0.87),
    8px 0px 8px rgba(255, 255, 255, 0.3),
    inset 1px 0px 2px rgba(199, 222, 249, 0.33),
    inset -1px 1px 2px rgba(255, 255, 255, 0.75),
    inset 1px 0px 2px rgba(203, 223, 246, 0.66),
    inset -2px 0px 5px rgba(244, 249, 255, 0.33);
  border-radius: 8px;
}

.neumorphic_mold_castIn {
  background: #ebf4ff;
  box-shadow: 1px 0px 1px rgba(205, 222, 242, 0.73),
    -2px 0px 1px rgba(240, 247, 255, 0.12),
    inset -2px 0px 5px rgba(167, 193, 224, 0.52);
  border-radius: 30px;
  border-radius: 8px;
}

.neumorphic_text {
  font-size: 2em;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  line-height: 20px;

  text-shadow: 1px 0px 0.5px rgba(205, 222, 242, 1),
    -2px 0px 1px rgba(240, 247, 255, 1);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;

  color: transparent;
}

.page_container,
.drop_down_container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: var(--height);
  width: var(--width);
}

.drop_down_container {
  height: 0;
}

li {
  list-style: none;
}

/* animations */
.drop_down_container.drop {
  height: var(--height);
  width: var(--width);
}
