:root {
  --color1: #fefae0;
  --color2: #d4a373;
  --color3: #7a2323;
  --color4: #3c1742;

  --light-theme: var(--color3);
  --dark-theme: var(--color4);

  --background-color: var(--color1);
  --main-color: var(--color2);
  --alt-color: var(--light-theme);
  --stroke-color: var(--color1);

  --width: 896px;
  --height: 414px;
  --max-width: 850px;
}

html,
body {
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: var(--height);
  width: var(--width);
  margin: auto;
  background-color: var(--background-color);
  color: var(--stroke-color);
  font-size: 22px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  background-color: var(--alt-color) !important;
  border: solid 2px var(--stroke-color) !important;
}

.page_container,
.dropdown_container {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  gap: 10px;
  height: var(--height);
  width: var(--width);
}

.dropdown_container {
  height: 0;
}

li {
  list-style: none;
}

.text {
  color: var(--stroke-color);
}

/* animations */
.dropdown_container.drop {
  height: var(--height);
}

/* utilities */
.HIDE_THIS {
  visibility: hidden;
}

/* Buttons styles start */
.UNSTYLE_BUTTON {
  border: unset;
  background-color: unset;
  display: unset;
  padding: unset;
  margin: unset;
  text-decoration: unset;
  color: inherit;
  font-family: unset;
  font-size: unset;
  line-height: unset;
  cursor: pointer;
  text-align: unset;
  transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.UNSTYLE_BUTTON:focus {
  outline: unset;
  outline-offset: unset;
}

.UNSTYLE_BUTTON:active {
  transform: unset;
}
/* Button styles end */

@media screen and (max-width: 1024px) {
  html,
  body,
  .page_container,
  .dropdown_container {
    width: 100vw;
  }
}
