.drums {
  flex-direction: row;
  padding-left: 30px;
}

.users,
.soundclips,
.drum_selector {
  padding: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
  z-index: 10;

}

.drums,
.keys {
  z-index: 1;
}
